### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [8]:
test1 =  'This is a test of the emergency text system'
file = open('test.txt' , 'w')
file.write(test1) 
file.close()

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2? 

`There is not any difference between them`

In [9]:
file = open('test.txt', 'r')
test2 = file.read()
if test1 == test2:
    print('test1 and test2 are similar')
else : 
    print('test1 and test2 are not similar')

test1 and test2 are similar

### 3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [10]:
import csv
books = [['title','author','year'],
        ['The Weirdstone of Brisingamen','Alan Garner',1960],
        ['Perdido Street Station','China Miéville',2000],
        ['Thud!','Terry Pratchett',2005],
        ['The Spellman Files','Lisa Lutz',2007],
        ['Small Gods','Terry Pratchett',1992]
       ]
with open('books.csv' , 'w', encoding='UTF-8') as f :
    csv_writer = csv.writer(f)
    csv_writer.writerows(books)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [6]:
import sqlite3
try:
    mydb = sqlite3.connect('books.db') 
    print('My DB is connected')
    # Create table
    cursor = mydb.cursor()
    cursor.execute('create table books(title varchar(100) , author varchar(30) , year int)')
    print('Table Created')
    mydb.commit()
    mydb.close()
except exception as e:
    mydb.close()
    print(str(e))

My DB is connected
Table Created

### 5. Read books.csv and insert its data into the book table.

In [16]:
import csv
try:
    mydb = sqlite3.connect('books.db') 
    print('My DB is connected')
    # Create table
    cursor = mydb.cursor()
    # Read data from file 
    with open('books.csv' , 'r') as f:
        next(f)
        gloss_data = csv.reader(f , delimiter = '\n')
        for line in gloss_data:
            #print(str(line))
            cursor.execute('INSERT INTO books VALUES ({values})'.format(values = (str(line[0]))))
        print('Value Inserted!')       
    mydb.commit()
    mydb.close()

except exception as e:
    mydb.close()
    print(str(e))

My DB is connected
Value Inserted!

### 6. Select and print the title column from the book table in alphabetical order.

In [17]:
try:
    mydb = sqlite3.connect('books.db') 
    print('My DB is connected')
    cursor = mydb.cursor()
    # Read title of books
    cursor.execute('select title from books order by title')
    for result in cursor.fetchall():
        print(result)
    mydb.close()
except exception as e :
    mtdb.close()
    print(str(e))

My DB is connected
('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

### 7. From the book table, select and print all columns in the order of publication.

In [18]:
try:
    mydb = sqlite3.connect('books.db') 
    print('My DB is connected')
    cursor = mydb.cursor()
    # Read title of books
    cursor.execute('select * from books order by year')
    for result in cursor.fetchall():
        print(result)
    mydb.close()
except exception as e :
    mtdb.close()
    print(str(e))

My DB is connected
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miأ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [19]:
import sqlalchemy
mydb=sqlalchemy.create_engine('sqlite:///books.db')
rows = mydb.execute('select * from books')
for row in rows:
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miأ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [20]:
pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\fatima\anaconda3\envs\image_env\lib\site-packages (from redis) (21.3)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\fatima\anaconda3\envs\image_env\lib\site-packages (from deprecated>=1.2.3->redis) (1.13.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\fatima\anaconda3\envs\image_env\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, async-timeout, redis
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.1
    Uninstalling async-timeout-4.0.1:
      Successfully uninstalled async-timeout-4.0.1
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4
Note: you may need to restart the kernel to use updated packages.

In [5]:
import redis
connection = redis.Redis()
#conn.delete('test')
connection.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
connection.hgetall('test')

C:\Users\Fatima\AppData\Local\Temp/ipykernel_9604/2984489502.py:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  connection.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

### 10. Increment the count field of test and print it.

In [8]:
connection.hincrby('test','count', 1)
connection.hgetall('test')

{b'count': b'5', b'name': b'Fester Bestertester'}